.root {
  color: var(--color-gray);
}

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: var(--width-large);
  padding: calc(var(--padding-medium) - var(--padding-small));

  @media (--media-min-small) {
    padding: calc(var(--padding-large) - var(--padding-small));
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--padding-large);
  padding: var(--padding-large) var(--padding-medium);

  @media (--media-min-small) {
    grid-template-columns: 1fr 1fr;
  }

  @media (--media-min-medium) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (--media-min-large) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.cell {
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);

  @nest & h2 {
    font: inherit;
    color: inherit;
    font-weight: 600;
    color: var(--color-black);
    margin: 0 0 var(--padding-small);

    @nest & > a {
      color: inherit;
      text-decoration: inherit;
    }
  }

  @nest & ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  @nest & ul li a {
    text-decoration: none;
    color: inherit;
    transition: color 200ms;

    @media (hover: hover) {
      @nest &:hover {
        color: var(--color-brand-primary);
      }
    }
  }

  @nest & li a {
    color: inherit;
    display: block;
    padding: var(--padding-x-small) 0;
  }
}

.systemStatus {
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);
  text-align: center;
  margin: var(--padding-x-large) 0;

  @nest & > a {
    text-decoration: none;

    @nest & > span {
      position: relative;
      top: -1px;
    }
  }
}

.systemUp {
  composes: systemStatus;

  @nest & span {
    color: var(--color-light-green);
  }
}

.systemPartiallyDown {
  composes: systemStatus;

  @nest & span {
    color: var(--color-light-yellow);
  }
}

.systemDown {
  composes: systemStatus;

  @nest & span {
    color: var(--color-brand-primary);
  }
}

.bottomLine {
  color: inherit;
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);
  text-align: center;

  @nest & ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  @nest & li > button {
    background: none;
    -webkit-font-smoothing: inherit;
    appearance: none;
    font: inherit;
    margin: 0;
    border: none;
    border-radius: 0;
  }

  @nest & li > a, & li > button {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    padding: var(--padding-x-small) var(--padding-small);

    @media (hover: hover) {
      @nest &:hover {
        color: var(--color-brand-primary);
      }
    }
  }

  @nest & li > span {
    display: inline-block;
    padding: var(--padding-x-small);
  }

  @media (--media-min-small) {
    @nest & ul {
      display: flex;
      justify-content: center;
    }
  }
}

.item {

}
