.root {
  composes: root;
  margin: var(--margin-medium) 0;
  outline: 1px solid var(--color-shade2);
  outline-offset: -1px;
}

.inner {
  display: flex;
  align-items: stretch;
}

.default {
  composes: root;
}

.error {
  composes: root;
  outline-color: color-mod(var(--color-light-red) alpha(40%));
  color: var(--color-red);

  @nest & .title {
    color: var(--color-red);
  }

  @nest & .icon {
    padding: var(--padding-medium);
    background-color: var(--color-red);
    color: var(--color-white);
  }
}

.success {
  composes: root;
  outline-color: color-mod(var(--color-light-green) alpha(40%));
  color: var(--color-green);

  @nest & .title {
    color: var(--color-green);
  }

  @nest & .icon {
    padding: var(--padding-medium);
    background-color: var(--color-green);
    color: var(--color-white);
  }
}

.warning {
  composes: root;
  outline-color: color-mod(var(--color-yellow) alpha(40%));

  @nest & .icon {
    padding: var(--padding-medium);
    background-color: var(--color-yellow);
    color: var(--color-black);
  }
}

.content {
  color: var(--color-black);
  padding: var(--padding-medium);
}

.icon {
  background: #fe0;
  padding: var(--padding-medium) 0 var(--padding-medium) var(--padding-medium);
  font-size: var(--font-title1-size);
  display: flex;
  align-items: center;
  line-height: 1;
}

.title {
  composes: sanity-title3 from global;
  margin: 0 0 var(--margin-x-small);
  padding: 0;
}
