.root {
  @nest & + .root {
    margin-top: var(--margin-small);
  }

  @nest & label {
    display: block;
    font-weight: 500;
    font-size: var(--font-small-size);
    line-height: var(--font-small-line-height);
    margin: 0 0 calc(var(--margin-x-small) / 2);
  }
}
