.root {
  outline: none;
  display: block;
  padding: calc(var(--padding-small) * 1.5);
  margin: calc(var(--padding-small) * -1.5);
  min-width: 10rem;
  border-radius: 4px;
  text-decoration: none;

  @media (hover: hover) {
    @nest &:not(.selected):not(:focus):hover {
      background: color-mod(var(--color-gray) alpha(7%));
    }
  }

  @nest &:focus {
    background: color-mod(var(--color-light-blue) alpha(30%));
  }
}

.selected {
  composes: root;
  background: var(--color-blue);
  color: var(--color-white);
}

.image {
  composes: sanity-shadow-1dp from global;
  padding-bottom: calc(9 / 16 * 100%);
  background: var(--color-white);
  border-radius: 2px;
}

.text {
  margin-top: var(--margin-small);
}

.meta {
  margin: var(--margin-small) 0 0;
  display: grid;
  color: var(--color-gray);
  grid-template-columns: 5rem auto;
  grid-column-gap: var(--margin-small);
  font-size: calc(13 / var(--unit) * 1rem);
  line-height: calc(21 / 13);

  @nest & dt {
    padding: 0;
  }

  @nest & dd {
    padding: 0;
    margin: 0;
    font-weight: 500;
  }
}

.title {
  font-size: var(--font-large-size);
  line-height: var(--font-large-line-height);
  font-weight: 500;
  margin: 0 0 calc(var(--margin-x-small) / 2);
}

.subtitle {
  color: var(--color-gray);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
}
