:root {
  --dash-offset: 114;
  --duration: 1.4s;
 }

.root {
  animation: rotator var(--duration) linear infinite;
 }

.circle {
  stroke-dasharray: var(--dash-offset);
  stroke-dashoffset: 0;
  transform-origin: center;
  stroke: currentColor;
  animation: dash var(--duration) ease-in-out infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

@keyframes dash {
  0% {
    stroke-dashoffset: var(--dash-offset);
  }
  50% {
    stroke-dashoffset: 28.5;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: var(--dash-offset);
    transform: rotate(450deg);
  }
}
