.root {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background: var(--color-shade1);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  font-size: 0;
  overflow: hidden;

  @nest & img, & svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @nest &::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: inset 0 0 1px var(--color-shade3);
  }
}

.small {
  composes: root;
  width: 32px;
  height: 32px;
}

.large {
  composes: root;
  width: 64px;
  height: 64px;
}
