.root {
  composes: sanity-shadow-1dp from global;
  background: var(--color-white);
  border-radius: 5px;
}

.header {
  padding: var(--padding-medium);
  display: flex;
}

.headerLogo {
  width: 42px;
  height: 42px;
  margin-right: var(--margin-x-small);
}

.headerText {
  flex: 1;

  @nest & h4 {
    margin: 0;
  }

  @nest & p {
    margin: 0;
    font-size: var(--font-small-size);
    line-height: var(--font-small-line-height);
  }
}

.content {
  display: flex;
  border-top: 1px solid var(--color-shade1);
}

.status {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: var(--padding-medium);
  justify-content: center;
}

.buttons {
  padding: var(--padding-medium);
}
