.root {
  display: flex;
  align-items: center;
  opacity: 0.5;

  @nest &[data-status="active"] {
    opacity: 1;
  }

  @nest &[data-status="completed"] {
    opacity: 1;
    opacity: 0.5;
  }
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: var(--font-small-size);
  line-height: 1;
  width: 24px;
  height: 24px;
  margin-right: var(--margin-x-small);
  border: 1px solid currentColor;

  @nest .root[data-status="active"] & {
    background-color: #000;
    color: #fff;
  }
}

.title {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.description {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  opacity: 0.5;
}
