.root {
  margin: var(--margin-small);
  padding: 0;
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);

  @media (--media-min-small) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
